* {
    margin: 0;
    padding: 0;
    font-family: "Gothan", sans-serif;
}

main {
    background-color: black;
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 24%;
}

#comeco-menu {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
}

#comeco-menu h3 {
    margin-left: 15px;
    margin-top: 7px;
    font-size: 17px;
}

#comeco-menu #icone:hover, #icone:hover + h3 {
    color: white;
}

#comeco-menu h3:hover, h3:hover + img {
    color: white;
}

#comeco-menu a {
    color: rgb(170, 170, 170);
}

#comeco-menu a:hover {
    color: white;
    filter: brightness(1.0);
}
#comeco-menu #icone:hover {
    filter: brightness(1.0);
}

a {
    text-decoration: none;
}


.logo #logo-spotify {
    width: 90px;
    margin-bottom: 32px;
    margin-top: 20px;
    margin-left: 15px;
}

.logo #logo-spotify img {
    width: 55%;
    margin-bottom: 40px;
}

#icone {
    width: 25px;
    margin-left: 14px;
    filter: brightness(0.7);
}

#inicio {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    color: rgb(170, 170, 170);
}

#buscar {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(170, 170, 170);
}

#resto-menu {
    padding: 0 0 30px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 7px;
    color: white;
    background-color: rgb(20, 20, 20);
}

#resto-menu #bibli-soma {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82%;
}

#biblioteca {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

#biblioteca h3 {
    color: rgb(184, 184, 184);
    margin-left: 15px;
    margin-top: 7px;
    font-size: 17px;
}

#sinal-mais {
    width: 18px;
    height: 18px;
    margin-top: 5px;
    transition: transform 50ms ease-in-out;
}

#sinal-mais:hover {
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
    transform: scale(1.2);
}

#scroll-menu {
    height: 220px;
    overflow: auto;
}

#scroll-menu::-webkit-scrollbar {
    background: transparent;
}

#scroll-principal {
    height: 780px;
    overflow: auto;
}

#scroll-principal::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

.scroll::-webkit-scrollbar-thumb {
    background: transparent;
    width: 12px;
}

.scroll:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.300);
    width: 12px;
    transition: all 0.2s ease-in;
    transition: all 0.4s ease-in-out;
}

.scroll2 {
    height: 85vh;
    overflow-y: auto;
}

.scroll2:hover {
    transition: all 0.5s ease-in-out;
    height: 85vh;
    overflow-y: auto;
}

.scroll2::-webkit-scrollbar {
    background: #282828;
    width: 12px;
}

.scroll2::-webkit-scrollbar-thumb {
    background: #282828;
    width: 12px;
}

.scroll2:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.300);
    width: 12px;
    transition: all 0.2s ease-in;
    transition: all 0.4s ease-in-out;
}


#playlist {
    padding: 5px;
    background-color: #242424;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

#podcast {
    padding: 5px;
    background-color: #242424;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#playlist h2,
#podcast h2 {
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
}

#playlist h3,
#podcast h3 {
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 300;
}

#playlist button {
    border-radius: 50px;
    width: 110px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
    margin-bottom: 10px;
    border: none;
    transition: transform 50ms ease-in-out;
}

#podcast button {
    border-radius: 50px;
    width: 150px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
    margin-bottom: 10px;
    border: none;
    transition: transform 50ms ease-in-out;
}

#podcast button:hover, #playlist button:hover {
    transform: scale(1.05);
}

#footer {
    width: 250px;
    color: gray;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 30px;
}

#footer ul li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    padding: 5px;
}

#footer ul li:hover {
    cursor: pointer;
}

#footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(20, 20, 20);
    margin-top: 25px;
    border-radius: 50px;
    border: 1px solid gray;
}

#footer button img {
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer button h3 {
    margin-left: 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

#footer button:hover {
    border: 1px solid white;
}

button {
    cursor: pointer;
}

#comeco-menu h3,
#biblioteca h3 {
    font-weight: 400;
}

#comeco-menu h3:hover,
#biblioteca h3:hover {
    color: white;
}

#principal {
    width: 77%;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

#nav {
    background-color: rgb(20, 20, 20);
    height: 60px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#seta-esq {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: not-allowed;
}

#seta-esq,
#seta-dir {
    filter: brightness(0.5);
    width: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

#seta-dir {
    cursor: pointer;
}

#principal #nav #inscrever {
    color: rgb(170, 170, 170);
    font-weight: 600;
    margin-top: 18px;
}

#principal #nav button {
    width: 105px;
    height: 48px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    transition: transform 50ms ease-in-out;
}

#principal #nav button:hover {
    transform: scale(1.05);
}

#principal #nav button #botao-entrar {
    color: black;
}

#insc-ent {
    margin-left: 880px;
    margin-top: -50px;
    display: flex;
}

#artistas-pop {
    background-image: linear-gradient(rgb(42, 42, 42), black);
}

.img-artista {
    width: 195px;
    border-radius: 100px;
}

#artistas-pop h2 {
    margin-left: 20px;
    padding-top: 35px;
}

.info-artista {
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
}

.nome-artista {
    margin-top: 5px;
    font-size: 15px;
}

.desc-artista {
    margin-top: 5px;
    font-size: 14px;
    color: lightgray;
}

.artistas {
    display: flex;
    flex-direction: row;
}

.img-album {
    width: 195px;
    border-radius: 5px;
}

#albuns-pop h2 {
    margin-left: 20px;
    padding-top: 35px;
}

.info-album {
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
}

.nome-album {
    margin-top: 5px;
    font-size: 15px;
}

.desc-album {
    margin-top: 5px;
    font-size: 14px;
    color: lightgray;
}

.albuns {
    display: flex;
    flex-direction: row;
}

#footer button:hover {
    border: 1px solid white;
}

.title-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-subtitle h3 {
    margin-top: 40px;
    margin-right: 20px;
    color: rgb(184, 184, 184);
    font-size: 14px;
}

.title-subtitle h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.title-subtitle h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

#resto-menu #bibli-soma {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82%;
}

#sinal-mais {
    width: 18px;
    height: 18px;
    margin-top: 5px;
}

#sinal-mais:hover {
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
}

#comeco-menu .icone:hover {
    filter: brightness(1.0);
}

.info-artista:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

.info-album:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

.play {
    width: 50px;
    border-radius: 100px;
    margin-top: -800px;
}

.preview {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 10px;
}

.preview h4 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.preview p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.preview button {
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.botao-play {
    position: absolute;
    border: none;
    background-color: #1db954;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
    margin-top: -60px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.botao-play i {
    color: black;
    font-size: 20px;
}

.info-artista:hover .botao-play {
    display: flex;
    opacity: 1;
}