* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.85), black);
}

.content {
    width: 735px;
    height: 1030px;
    background-color: #121212;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.content img {
    max-width: 55px;
}

.content h1 {
    font-weight: bolder;
    font-family: 'Gotham', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.continuar {
    font-family: 'Gotham', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 25px;
    width: 45%;
    text-align: center;
}

.continuar:hover {
    border: solid 1px white;
}

.icone {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 15px;
}

.icone h2 {
    font-size: 15px;
    max-width: 250px;
    margin-left: 10px;
}

.telefone {
    font-family: 'Gotham', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    padding: 13px;
    border-radius: 30px;
    width: 45%;
    text-align: center;
    margin-bottom: 10px;
}

.telefone:hover {
    border: solid 1px white;
}

.espacamento {
    width: 65%;
    margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41, 41, 41);
}


form {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: 'Gotham', sans-serif;
    color: white;
    font-weight: 550;
    font-size: 13px;
    margin: 0 auto;
}

label {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

input[type="email"],
input[type="password"] {
    color: white;
    background-color: #121212;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    text-align: left;
    width: 100%;
}


input[type="email"]:hover,
input[type="password"]:hover {
    border: solid 1px white;
}

::placeholder {
    margin-right: 15px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Gotham', sans-serif;
    color: #A7A7A7;
    text-align: left;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: white;
    border: solid 3.5px white;
    padding: 14px;
}

.lembrar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.lembrar input[type=checked] {
    height: 0;
    width: 0;
}

.lembrar input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
}

.lembrar input[type="checkbox"]+label {
    width: 32px;
    height: 16px;
    background: #727272;
    display: block;
    border-radius: 50em;
    position: relative;
    box-sizing: border-box;
}

.lembrar input[type="checkbox"]:checked+label::after {
    transform: translateX(calc(100% + 5px));
}

.lembrar label {
    margin-right: 10px;
    cursor: pointer;
    padding: 3px;
    width: 32px;
    height: 16px;
    background: #727272;
    display: block;
    border-radius: 50em;
    position: relative;
    box-sizing: border-box;
}

.lembrar label::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 10px;
    background-color: black;
    border-radius: 50ex;
}

.lembrar input:active+label {
    background-color: #727272;
}

.lembrar input:checked+label {
    background-color: #1ed760;
}

.lembrar input:checked+label:hover {
    background-color: #1ed760;
}

input#switch {
    display: none;
}

.lembrar span {
    margin-top: 12px;
    color: white;
    font-size: 10px;
    font-weight: 000;
}

input[type="submit"] {
    width: 100%;
    margin-top: 35px;
    padding: 15px;
    border-radius: 35px;
    background-color: #1ed760;
    border: 1px solid black;
    font-family: 'Gotham', sans-serif;
    font-weight: 550;
    font-size: 15px;
    cursor: pointer;
}

.botao-senha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-senha input:hover {
    transform: scale(1.05);
}

.botao-senha a {
    margin-top: 35px;
    color: white;
    font-family: 'Gotham', sans-serif;
    font-size: 14.5px;
}

.botao-senha a:hover {
    margin-top: 35px;
    color: #1ed760;
    font-family: 'Gotham', sans-serif;
    font-size: 14.5px;
}

.conta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conta h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #A7A7A7;
    margin-left: 5px;
    margin-right: 10px;
}

.conta a {
    color: white;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.conta a:hover {
    color: #1ed760;
}

footer {
    width: 100%;
    padding: 35px 30px;
    background-color: #121212;
}

footer h1,
a {
    text-align: center;
    color: #A7A7A7;
    font-size: 11px;
    font-family: 'Gotham', sans-serif;
}

.continuar,
.telefone {
    cursor: pointer;
}