*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165vh;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.807), black);
}

.content{
    width: 745px;
    height: 1100px;
    background-color: #121212;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.content img{
    max-width: 55px;
}

.content h1{
    font-weight: bolder;
    font-family: 'Gotham', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}


.icon-content h2{
    font-size: 15px;
    margin-left: 20px;
}

.icones{
    font-family: 'Gotham', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    border: solid 1px rgba(255, 255, 255, 0.500);
    padding: 10px;
    border-radius: 25px;
    width: 45%;
    text-align: center;
}

.icon-content {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 15px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}