* {
    margin: 0;
    padding: 0;
    font-family: "Gothan", sans-serif;
}

body {
    display: flex; 
    background-color: black;
    height: 100vh;
}

.menu {
    width: 370px;
    background-color: black;
    padding: 3px;
}

.menu1 {
    background: #121212;
    border-radius: 10px;
    padding: 23px 23px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.menu1 .logo {
    width: 80px;
}

.menu1 .logo img {
    width: 100%;
}

.menu1 ul {
    list-style: none;
}

.menu1 ul a {
    text-decoration: none;
}

.menu1 li {
    margin-top: 10px;
}

.menu2 {
    background: #121212;
    border-radius: 10px;
    padding: 23px 23px;
    margin-bottom: 5px;
}

.menu2 ul {
    list-style: none;
}

.menu2 ul a {
    text-decoration: none;
}

.menu2 li {
    margin-top: 10px;
}

#inicio,
#buscar,
#biblioteca {
    color: #A7A7A7;
    font-weight: 600;
    font-family: 'Gothan', sans-serif;
    font-size: 15px;
    margin-left: 10px;
}

#biblioteca::after {
    content: '+';
    float: right;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
}

.box1 h1,
p {
    margin: 12px 0;
    font-size: medium;
    color: white;
}

.box1 input {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    color: black;
    font-weight: bolder;
    font-family: 'Gothan', sans-serif;
    font-size: 15px;
    border-radius: 20px;
    background: white;
}

.scrol {
    height: 120px;
    overflow-y: auto;
}

.scrol::-webkit-scrollbar {
    background: transparent;
}

.scrol::-webkit-scrollbar-thumb {
    background: transparent;
    width: 2px;
}

.scrol:hover::-webkit-scrollbar-thumb {
    background: #5c5b5b;
    width: 2px;
}

.box1 {
    background: #242424;
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    margin-top: 20px;
}

.footer ul li {
    padding: 0 12px;
    padding-bottom: 8px;
}

.footer ul li a {
    margin: 0 5px;
    font-family: 'Gothan', sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #A7A7A7;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.portugues {
    padding: 20px;
}

.portugues button {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    font-family: 'Gothan', sans-serif;
    background: transparent;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid white;
}

#menu3 {
    width: 77%;
    color: white;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

#nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(20, 20, 20, 0.500);
    width: 65%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.setas {
    margin: 16px;
}

#seta-esq, #seta-dir {
    padding: 5px;
    background: rgba(0, 0, 0, 0.500);
    border-radius: 50%;
    filter: brightness(0.5);
    width: 20px;
    cursor: not-allowed;
}

#insc-ent a {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    color: rgb(170, 170, 170);
    font-weight: 600;
}

#insc-ent button {
    padding: 15px 30px;
    border-radius: 50px;
    margin: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.background{
    display: flex;
    position: static;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-color: red;
}

.content h1{
    margin-left: 12px;
    margin-top: 70px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Gothan', sans-serif;
}

.content h2{
    margin-left: 12px;
    font-size: 110px;
    font-family: 'Gothan',sans-serif;
}

.content p{
    margin-left: 12px;
    font-size: 15px;
    font-family: 'Gothan',sans-serif;
}

.div2{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    background:  purple;
}

.div2 img,button{
    margin-right: 10px;
    width: 45px;
}