* {
    margin: 0;
    padding: 0;
    font-family: "Gothan", sans-serif;
}

body {
    background-color: black;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 370px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 3px;
}

.menu1 {
    background: #121212;
    border-radius: 10px;
    padding: 23px 25px;
    margin-bottom: 5px;
}

.menu1 .logo {
    width: 80px;
}

.menu1 .logo img {
    width: 100%;
}

.menu1 ul {
    list-style: none;
}

.menu1 ul a {
    text-decoration: none;
}

.menu1 li {
    margin-top: 10px;
}

#inicio,
#buscar {
    color: #A7A7A7;
    font-weight: 600;
    font-family:'Gothan'sans-serif;
    font-size: 15px;
    margin-left: 10px;
}